#paste-area {
  position: relative;
  border: 1px solid #888888;
  border-radius: 0.5rem;
  padding: 1rem;

  #paste-area-message {
    // position: absolute;
    // top: 1em;
    // left: 1em;
    // z-index: -100;
  }
}

img#pasted-image {
  // display: none;
  max-width: 400px;
  max-height: 400px;
}

canvas#output-image {
  width: 400px;
  height: 400px;
}

img[hidden] {
  display: none;
}

.history-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  width: 100%;
  .history-item {
    object-fit: cover;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
